<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!--<link th:rel="stylesheet" th:href="@{/resources/css/offcanvas.css}"/>
    <link th:rel="stylesheet" th:href="@{/resources/css/headerCss.css}"/>-->

    <!-- JQuery / Bootstrap JS -->
    <script th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.15.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    <!-- Context Path를 구하기 위한 태그 -->
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>

    <!-- ETC JS / CSS-->
    <!--<script th:src="@{/resources/js/offcanvas.js}"></script>-->

</th:block>

<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-0" th:href="@{/}">YechanPark Linegames Homework</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">전체 게시판 목록</a>
                <div id="nav-dropdown-menu" class="dropdown-menu" aria-labelledby="dropdown01">
                    <!-- ADMIN 만 보임 -->
                    <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <a class="dropdown-item" th:href="@{/board/add}">게시판 추가</a>
                    </th:block>
                </div>
            </li>
        </ul>

        <!-- 인증된 유저만 보임 -->
        <div sec:authorize="isAuthenticated()">
            <!-- Principal name -->
            <span style="color:white">username:</span>
            <span style="color:white" sec:authentication="name"></span>

            <th:block th:switch="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
                <span th:case="true" style="color:white">(ADMIN)</span>
                <span th:case="false" style="color:white">(MEMBER)</span>
            </th:block>

            <a class="btn btn-success" href="#" th:href="@{/user/info}"> 내 정보 </a>
            <a class="btn btn-success" href="#" th:href="@{/logout}"> Logout </a>
        </div>

        <!-- 인증되지 않은 유저만 보임 -->
        <div sec:authorize="!isAuthenticated()">
            <a class="btn btn-success" href="#" th:href="@{/auth/login}"> Login </a>
            <a class="btn btn-success" href="#" th:href="@{/auth/signup}"> Sign Up </a>
        </div>
    </div>

    <script>
        $(document).ready(function() {

            let contextPath = $('#contextPathHolder').attr('data-contextPath');

            $.ajax({
                url : contextPath + '/board/rest',
                type: 'get',
                success: function(result) {
                    result.forEach( function(datum) {
                        let childA = document.createElement('a');
                        childA.classList.add('dropdown-item');
                        childA.href = contextPath + '/board/' + datum.boardURI;
                        childA.innerHTML = datum.title;
                        $('#nav-dropdown-menu').append(childA);
                    });
                }
            });

        });
    </script>
</nav>
</body>
</html>