<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!--<link th:rel="stylesheet" th:href="@{/resources/css/offcanvas.css}"/>
    <link th:rel="stylesheet" th:href="@{/resources/css/headerCss.css}"/>-->

    <!-- JQuery / Bootstrap JS -->
    <script th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.15.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    <!-- ETC JS / CSS-->
    <!--<script th:src="@{/resources/js/offcanvas.js}"></script>-->

</th:block>

<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-0" href="#">YechanPark Linegames Homework</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">전체 게시판 목록</a>
            </li>

            <!-- ADMIN 만 보임 -->
            <span sec:authorize="hasAuthority('ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/boardManagement}">게시판 관리</a>
                </li>
            </span>

        </ul>

        <!-- 인증된 유저만 보임 -->
        <div sec:authorize="isAuthenticated()">
            <!-- Principal name -->
            username:
            <span sec:authentication="name"></span>
            <span sec:authorize="hasAuthority('ADMIN')">(ADMIN)</span>
            <span sec:authorize="hasAuthority('MEMBER')">(MEMBER)</span>
            <a class="btn btn-success" href="#" th:href="@{/user/info}"> 내 정보 </a>
            <a class="btn btn-success" href="#" th:href="@{/auth/logout}"> Logout </a>
        </div>

        <!-- 인증되지 않은 유저만 보임 -->
        <div sec:authorize="!isAuthenticated()">
            <a class="btn btn-success" href="#" th:href="@{/auth/login}"> Login </a>
            <a class="btn btn-success" href="#" th:href="@{/auth/signup}"> Sign Up </a>
        </div>
    </div>
</nav>
</body>
</html>